# Unix
*~

# Python
*.py[cod]

# Python C extensions
*.so

# Python Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# IDEs
.mr.developer.cfg
.project
.pydevproject
*.wpu
*.wpr

# local directories
/workspace
.idea
 
# latex
*.aux
*.log

# archives
*.gz
*.zip
*.tar

# Mac
.DS_Store


*.dat

# Geometry
*.geo
*.stl
*.vsp3
*.cfg
*.su2
*.key

# Images
*.pdf
*.png

ide/Wing/SUAVE.wpr
/doc/html
/doc/latex

!/doc/suave_logo.png
